<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Groups edit</title>
</head>
<body>
<h1>Edit</h1>
<div th:each="group : ${groups}">
    <form method="post">
        <h2>Name</h2>
        <input type="text" th:value="${group.name}" name="name" placeholder="Name">
        <br>
        <h2>Year</h2>
        <input type="text" th:value="${group.year}" name="year" placeholder="Year">
        <br>
        <h2>Rating</h2>
        <input type="text" th:value="${group.rating}" name="rating" placeholder="Rating">
        <br>
        <h2>Tickets</h2>
        <input type="text" th:value="${group.tickets}" name="tickets" placeholder="Tickets">
        <br>
        <h2>Count of concerts</h2>
        <input type="text" th:value="${group.countOfConcerts}" name="countOfConcerts" placeholder="Count of concerts">
        <br>
        <button type="submit">Update</button>
    </form>
</div>

</body>
</html>